.qrcode__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.results__qrcode {
    height: 150px;
    width: 150px;
    border-radius: 6px;
}