::before, ::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    width: 100vw;
    font-size: x-small;
    margin: 0 0;
}
body {
    font-family: Quicksand, sans-serif;
    --bg-canvas: var(--darkgray-500);
    --bg-panel: var(--darkgray-500);
    --bg-panel-light: hsl(45, 4%, 38%);
    --bg-sidebar: var(--bluegreen-900);
    --bg-tab: var(--darkgray-100);
    --bg-active: var(--darkgray-500);
    --bg-input-background: var(--gray-500);
    --bg-input-options: var(--gray-500);
    --bg-input-shadow: var(--darkgray-100);
    --bg-input-outline: rgb(144, 219, 219);
    --bg-button: var(--darkgray-500);
    --bg-button-hover: var(--darkgray-100);
    --bg-button-border: rgb(144, 219, 219);
    --font-light: var(--cream-500);
    --font-dark: var(--darkgray-100);
    --font-placeholder: var(--cream-900);
    --accent: var(--bluegreen-500);
    --warning-red: var(--red-fade-50);
    --notice-red: var(--red-900);
    --polar-grid-stroke: var(--bluegreen-fade-15);
    --button-shadow-thin: var(--darkgray-fade-50) 0px 4px 6px -2px, rgba(0, 0, 0, 0.3) 0px 1px 5px -3px;
    --button-shadow: var(--darkgray-fade-50) 0px 6px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --button-shadow-circle: var(--darkgray-fade-20) 0px 5px 18px 0px, var(--darkgray-fade-15) 0px 5px 29px 0px;
    --panel-shadow: var(--darkgray-fade-75) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --tooltip-text-color: var(--cream-500);
    --tooltip-background-color: var(--darkgray-100);
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
    --svg-text: hsl(245, 10%, 26%)
    /*--panel-shadow: var(--darkgray-100) 0px 3px 8px;*/
}
#root {
    align-items: start;
    height: 100vh;
}

/* ----   App component styles    ---- */
.app {
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    background-color: var(--bg-canvas);

}
.app__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3 3;
    max-width: 25%;
    overflow: hidden;
    min-height: 100%;
}
.app__canvas {
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 8 3;
}
.app__display {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.help {
    border: none;
    background: none;
    position: relative;
    color: var(--font-light);
}
.help-panel {
    position: absolute;
    left: 1%;
    top: 1.5%;
}
.help:hover {
    color: var(--bg-input-background);
}
.help__icon {
    font-size: 4.25rem !important;
}
.help__icon-panel {
    font-size: 3.25rem !important;
}
.cr {
    position: fixed;
    left: 15px;
    bottom: 0px;
    color: black;
}