/* ----   html & body styles    ---- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: x-small;
}
body {
  color: black !important;
  font-family: "Baloo Thambi 2";
}

#root {
  align-items: start;
  height: 100vh;
}
/* ----   ****    ---- */


/* ----   App component styles    ---- */
.app {
  padding: 0 0;
  margin: 0 0;
  height: 100vh;
}

.app__sidebar {
  display: flex;
  flex-direction: column;
  flex: 2 1 20%;
  width: 400px;
  max-width: 20%;
  border-right: 10px rgb(98, 102, 74);
  box-shadow: inset 1px 0px 2.5vh 2.5vh rgba(132, 138, 101, 0.925);
  background-color: #aab185;
  padding: .5%;
}

.app__canvas {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 10 1;
  background-color: #454545;
}

.panelSection {
  margin: 2.85vh 0;
}

.app__display {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* ----   ****    ---- */


/* ----   Sidebar component styles    ---- */
.sidebar__content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.sidebar__row {
  display: flex;
  flex-direction: column;
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
}

.sidebar__row-header {
}

.sidebar__row-content {
  flex: max-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.row__content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar__row-buttons {
  flex-direction: row;
  margin-bottom: 5%;
}

.sidebar__row-icons {
  height: fit-content;
}



/* ----   ****    ---- */

/* ----   Content Area Styles   ---- */
.content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65%;
}

.content__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.content__name {
  font-size: x-large;
}

.content__updateMessage {
  text-align: center;
  font-size: large;
}
/* ----   ****    ---- */

/* ----   Header component styles    ---- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 3.75rem;
  margin: 0;
}

.form__heading {
  max-width: 400px;
  margin: 1vh 0;
  font-size: 1.65vh;
}

.form__steps {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.step__icon {
  display: inline-block;
  color: #454545;
  font-size: 1.1rem;
}

.step__icon-active {
  display: inline-block;
  color: #1f2225;
  border-bottom: 1px solid #1f2225;
  border-radius: 0.5px;
  font-size: 1.4rem;
}
/* ----   ****    ---- */


/* ----   Canvas component styles    ---- */
.canvas__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas__svg {

  /*flex-grow: 1;*/
  width: 100%;
  height: 100%;
}


/* ----   ****    ---- */


/* ----   player icon styles    ---- */
.player__icon_row {
  display: flex;
  justify-content: center;
  height: 15px;
  margin: 20px auto 0 auto;
}

.player__icon {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #eeeeee;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.player__icon-active {
  background-color: #8c9299;
}
/* ----   ****    ---- */


/* ----   form styles    ---- */
.form__group {
  width: 100%;
  /*height: 60%;*/
}

.form__label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.form__control {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__option {
  color: #495057;
  font-size: 1.15rem;
  background-color: rgba(128, 128, 128, 0.034);
}
/* ----   ****    ---- */


/* ----   form button styles    ---- */
.game__button {
  font-size: 1.15vw;
  color: white;
  background-color: #454545;
  border: 1px solid #454545;
  border-radius: 50%;
  height: 115px;
  width: 115px;
}

.game__button:hover {
  cursor: pointer;
  background-color: #1f2225;
  border-color: #1f2225;
}

.sidebar__btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.sidebar__btn-col {
  display: flex;
  flex-direction: column;
  flex: .33;

}

.sidebar__btn {
  text-align: center;
  font-weight: 100;
  font-size: 0.8vw;
  padding: 0.75vh 1vw;
  color: white;
  background-color: #454545;
  border: 1px solid #454545;
  border-radius: 5px;
  line-height: 0.8vw;
  min-width: 60%;
}

.sidebar__btn-form {

}

.sidebar__btn:hover {
  cursor: pointer;
  background-color: #1f2225;
  border-color: #1f2225;
}

.sidebar__btn:disabled {
  pointer-events: none;
  color: #454545;
  background-color: #898c8d;
  background: none;
  border: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar__btn-next {

}

.sidebar__btn-prev {

}
/* ----   ****    ---- */


/* ----   player button styles    ---- */

.player__buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.player__buttons-row {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
}

.player__buttons-col {
  display: flex;
  flex-direction: column;
  height: 40px;

}

.player__button {
  margin: auto auto;
  font-family: "Cormorant";
  font-size: 3.5rem;
  height: 40px;
  color: #454545;
  background-color: transparent;
  background: none;
  border: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player__button:hover {
  cursor: pointer;
  color: #1f2225;
}

.player__button:focus {
  outline: none;
}

.player__button-disabled {
  pointer-events: none;
  color: #898c8d;
}


.player__button_text {
  font-family: "Baloo Thambi 2";
  font-size: 2rem;
  vertical-align: middle;
}

.player__button-icon {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

/* ----   ****    ---- */



/* ----   App component styles    ---- */
/* ----   ****    ---- */
/* ----   App component styles    ---- */
/* ----   ****    ---- */
/* ----   App component styles    ---- */
/* ----   ****    ---- */
/* ----   App component styles    ---- */
/* ----   ****    ---- */

