:root {
  --black: #000000;
  --white: ivory;

  --gray-100: hsl(37, 13%, 81%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-900: hsl(0, 0%, 70%);
  --gray-fade-75: hsla(0, 0%, 50%, .75);
  --gray-fade-50: hsla(0, 0%, 50%, .50);
  --gray-fade-20: hsla(0, 0%, 50%, .20);
  --gray-fade-15: hsla(0, 0%, 50%, .15);

  --darkgray-100: hsl(0, 0%, 17%);
  --darkgray-500: hsl(0, 0%, 27%);
  --darkgray-900: hsl(0, 0%, 47%);
  --darkgray-fade-75: hsla(0, 0%, 27%, .75);
  --darkgray-fade-50: hsla(0, 0%, 27%, .50);
  --darkgray-fade-20: hsla(0, 0%, 27%, .20);
  --darkgray-fade-15: hsla(0, 0%, 27%, .15);

  --bluegreen-100: hsl(180, 51%, 51%);
  --bluegreen-500: hsl(180, 51%, 71%);
  --bluegreen-900: hsl(180, 51%, 91%);
  --bluegreen-fade-75: hsla(180, 51%, 71%, .95);
  --bluegreen-fade-50: hsla(180, 51%, 71%, .50);
  --bluegreen-fade-20: hsla(180, 51%, 71%, .20);
  --bluegreen-fade-15: hsla(180, 51%, 71%, .15);

  --cream-100: hsl(37, 13%, 61%);
  --cream-500: hsl(37, 13%, 81%);
  --cream-900: hsl(30, 41%, 93%);
  --cream-fade-75: hsla(37, 13%, 81%, .75);
  --cream-fade-50: hsla(37, 13%, 81%, .50);

  --red-100: hsl(9, 100%, 44%);
  --red-500: hsl(9, 100%, 64%);
  --red-900: hsl(9, 100%, 84%);
  --red-fade-75: hsla(9, 100%, 64%, .75);
  --red-fade-50: hsla(13, 100%, 50%, 0.5);

}
.blue_gray_pink {
  --bg-canvas: var(--darkgray-500);
  --bg-panel: var(--darkgray-500);
  --bg-panel-light: #66635c;
  --bg-sidebar: var(--bluegreen-900);
  --bg-tab: var(--darkgray-100);
  --bg-active: var(--darkgray-500);
  --bg-input-background: var(--gray-500);
  --bg-input-options: var(--gray-500);
  --bg-input-shadow: var(--darkgray-100);
  --bg-input-outline: rgb(144, 219, 219);
  --bg-button: var(--darkgray-500);
  --bg-button-hover: var(--darkgray-100);
  --bg-button-border: rgb(144, 219, 219);
  --font-light: var(--cream-500);
  --font-dark: var(--darkgray-100);
  --font-placeholder: var(--cream-900);
  --accent: var(--bluegreen-500);
  --warning-red: var(--red-fade-50);
  --notice-red: var(--red-900);
  --svg-ring-thick: hsla(180, 25%, 50%, .20);
  --svg-ring-thin: hsla(180, 25%, 50%, .15);
  --svg-line: hsla(180, 25%, 50%, .20);
}

/* ----   html & body styles    ---- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: x-small;
}
body {
  color: var(--font-dark) !important;
  font-family: "Quicksand", sans-serif;
}
#root {
  align-items: start;
  height: 100vh;
}

/* ----   App component styles    ---- */
.app {
  padding: 0 0;
  margin: 0 0;
  height: 100vh;
}
.app__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 3 3;
  max-width: 25%;
  overflow: hidden;
}
.app__canvas {
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 8 3;
  background-color: var(--bg-canvas);
}
.app__display {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}