:root {
  --black: #000000;
  --white: ivory;
  /*--cream: hsl(37, 13%, 81%);*/
  --gray: hsl(0, 0%, 50%);

  --darkblue: 237, 54%, 14%;
  --darkblue-100: hsl(237, 54%, 14%);
  --darkblue-500: hsl(237, 54%, 34%);
  --darkblue-900: hsl(237, 54%, 54%);
  --darkblue-fade-75: hsla(237, 54%, 34%, .75);
  --darkblue-fade-50: hsla(237, 54%, 34%, .50);
  --darkblue-fade-20: hsla(237, 54%, 34%, .20);
  --darkblue-fade-15: hsla(237, 54%, 34%, .15);

  --gray: 0, 0%, 27%;
  --gray-100: hsl(37, 13%, 81%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-900: hsl(0, 0%, 70%);
  --gray-fade-75: hsla(0, 0%, 50%, .75);
  --gray-fade-50: hsla(0, 0%, 50%, .50);
  --gray-fade-20: hsla(0, 0%, 50%, .20);
  --gray-fade-15: hsla(0, 0%, 50%, .15);

  --darkgray: 0, 0%, 27%;
  --darkgray-100: hsl(0, 0%, 17%);
  --darkgray-500: hsl(0, 0%, 27%);
  --darkgray-900: hsl(0, 0%, 47%);
  --darkgray-fade-75: hsla(0, 0%, 27%, .75);
  --darkgray-fade-50: hsla(0, 0%, 27%, .50);
  --darkgray-fade-20: hsla(0, 0%, 27%, .20);
  --darkgray-fade-15: hsla(0, 0%, 27%, .15);

  --bluegreen: 180, 25%, 30%;
  --bluegreen-100: hsl(180, 51%, 51%);
  --bluegreen-500: hsl(180, 51%, 71%);
  --bluegreen-900: hsl(180, 51%, 91%);
  --bluegreen-fade-75: hsla(180, 51%, 71%, .95);
  --bluegreen-fade-50: hsla(180, 51%, 71%, .50);
  --bluegreen-fade-20: hsla(180, 51%, 71%, .20);
  --bluegreen-fade-15: hsla(180, 51%, 71%, .15);

  --green: 104, 35%, 67%;
  --green-100: hsl(104, 35%, 27%);
  --green-500: hsl(104, 35%, 47%);
  --green-900: hsl(104, 35%, 67%);
  --green-fade-75: hsla(104, 35%, 67%, .75);
  --green-fade-50: hsla(104, 35%, 67%, .50);
  --green-fade-20: hsla(104, 35%, 67%, .20);
  --green-fade-15: hsla(104, 35%, 67%, .15);

  --pink: 318, 28%, 57%;
  --pink-100: hsl(318, 28%, 37%);
  --pink-500: hsl(318, 28%, 57%);
  --pink-900: hsl(318, 28%, 77%);
  --pink-fade-75: hsla(318, 28%, 57%, .75);
  --pink-fade-50: hsla(318, 28%, 57%, .50);
  --pink-fade-20: hsla(318, 28%, 57%, .25);
  --pink-fade-15: hsla(318, 28%, 57%, .15);

  --purple: 234, 13%, 58%;
  --purple-100: hsl(234, 13%, 38%);
  --purple-500: hsl(234, 13%, 58%);
  --purple-900: hsl(234, 13%, 78%);
  --purple-fade-75: hsla(234, 13%, 58%, .75);
  --purple-fade-50: hsla(234, 13%, 58%, .50);
  --purple-fade-20: hsla(234, 13%, 58%, .20);
  --purple-fade-15: hsla(234, 13%, 58%, .15);

  --cream: 0, 8%, 82%;

  --cream-500: hsl(37, 13%, 61%);
  --cream-900: hsl(37, 13%, 81%);
  --cream-fade-75: hsla(37, 13%, 81%, .75);
  --cream-fade-50: hsla(37, 13%, 81%, .50);

  --red: 9, 100%, 64%;
  --red-100: hsl(9, 100%, 44%);
  --red-500: hsl(9, 100%, 64%);
  --red-900: hsl(9, 100%, 84%);
  --red-fade-75: hsla(9, 100%, 64%, .75);
  --red-fade-50: hsla(13, 100%, 50%, 0.5);

}
.blue_gray_pink {
  --bg-canvas: var(--darkgray-500);
  --bg-panel: var(--darkgray-500);
  --bg-sidebar: var(--bluegreen-900);
  --bg-tab: var(--darkgray-100);
  --bg-active: var(--darkgray-500);
  --bg-input-background: var(--cream-900);
  --bg-input-options: var(--gray-500);
  --bg-input-shadow: var(--darkgray-100);
  --bg-input-outline: rgb(144, 219, 219);
  --bg-button: var(--darkgray-500);
  --bg-button-hover: var(--darkgray-100);
  --bg-button-border: rgb(144, 219, 219);
  /*--bg-button-border: var(--bluegreen-fade-75);*/
  /*--font-light: var(--gray-100);*/
  --font-light: var(--cream-900);
  --font-dark: var(--darkgray-100);
  --font-placeholder: var(--darkgray-fade-75);
  --accent: var(--bluegreen-500);
  --warning-red: var(--red-fade-50);
  --notice-red: var(--red-900);
  --svg-ring-thick: hsla(180, 25%, 50%, .20);
  --svg-ring-thin: hsla(180, 25%, 50%, .15);
  --svg-line: hsla(180, 25%, 50%, .20);

}



/*.purple_gray_blue {
  --bg-canvas: var(--darkgray-900);
  --bg-panel: var(--purple-500);
  --bg-tab: var(--darkgray-fade-50);
  --bg-active: var(--darkgray-500);
  --bg-input: var(--bluegreen-fade-75);
  --bg-button: transparent;
  --bg-button-hover: var(--darkgray-500);
  --font-light: var(--cream-900);
  --font-dark: var(--darkgray-100);
  --accent: var(--darkblue-900);
  --warning-red: var(--red-500);
  --notice-red: var(--red-900);
  --svg-ring-thick: var(--darkblue-fade-20);
  --svg-ring-thin: var(--darkblue-fade-15);
  --svg-line: var(--darkblue-fade-20)
}

.premade_blue {
  --bg-canvas: #56585d;
  --bg-panel: #B1A296;
  --bg-tab: rgba(93, 92, 97, 0.78);
  --bg-active: #5D5C61;
  --bg-input: var(--bluegreen-fade-75);
  --bg-button: transparent;
  --bg-button-hover: #5D5C61;
  --font-light: var(--cream-900);
  --font-dark: var(--darkgray-100);
  --accent: #557A95;
  --warning-red: var(--red-500);
  --notice-red: var(--red-900);
  --svg-ring-thick: rgba(85, 122, 149, 0.2);
  --svg-ring-thin: rgba(85, 122, 149, 0.15);
  --svg-line: rgba(85, 122, 149, 0.2);
}

.triadic {
  --bg-canvas: var(--darkgray-900);
  --bg-panel: #0d6760;
  --bg-tab: #90B04F;
  --accent: #c891be;

}*/

/* ----   html & body styles    ---- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: x-small;
}
body {
  color: var(--font-dark) !important;
  font-family: "Baloo Thambi 2", serif;
}
#root {
  align-items: start;
  height: 100vh;
}

/* ----   App component styles    ---- */
.app {
  padding: 0 0;
  margin: 0 0;
  height: 100vh;
}
.app__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 3 3;
  max-width: 25%;
  overflow: hidden;
}
.app__canvas {
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 8 3;
  background-color: var(--bg-canvas);
}
.app__display {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}