.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-top: 2rem;
}
.results__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 4rem;*/
}

.results__restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.restart__text {
    color: var(--font-light);
    font-size: 2.5rem;
    text-align: center;
    margin: 15px 0;
}

.restart__text-smaller {
    font-size: 1.75rem;
}

.qrcode__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 25px;*/
}

.results__qrcode {
    height: 175px;
    width: 175px;
    border-radius: 6px;
}