.canvas__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.svg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.svg__canvas {
  height: 100%;
  width: 100%;
}
.svg__canvas-light {
  background: var(--bg-panel-light);
}
.circle {
  opacity: 1;
  fill-rule: evenodd;
  stroke-linecap: round;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .25));
}
.circle__init {
  opacity: .6;
}
.circle__line {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
}
.circle__inner {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .25));
}
.circle__outer {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
}
.circle__stroke {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .55));
}
.circle__over {
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.65));
}
.svg__test-header {
  font: bold 2rem "Quicksand";
}
.svg__text {
  font: bold 1.75rem "Quicksand";
  fill: var(--bluegreen-fade-30);
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));
}