.canvas__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.svg__canvas {
  height: 100%;
  width: 100%;
}
.svg__canvas-light {
  background: var(--bg-panel-light);
  background: #0F273D;
}
.circle {
  opacity: 1;
  fill-rule: evenodd;
  stroke-linecap: round;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .25));
}
.circle__init {
  opacity: .45;
}
.circle__line {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
}
.circle__inner {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .25));
}
.circle__outer {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
}
.circle__stroke {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .55));
}
.circle__over {
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.65));
}
.circle__glow {
  border-radius: 50%;
  box-shadow:
          0 0 60px 30px #fff,  /* inner white */
          0 0 100px 60px #f0f, /* middle magenta */
          0 0 140px 90px #0ff; /* outer cyan */
}
.svg__test-header {
  font: bold 2rem "Quicksand";
}
.svg__text {
  font: bold 1.75rem "Quicksand";
  fill: var(--bluegreen-fade-30);
}
.faded_1 {
  opacity: 1;
}
.faded_75 {
  opacity: 0.75
}
.faded_50 {
  opacity: 0.25;
}
.faded_25 {
  opacity: 0.50;
}