.form__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-style: none solid solid solid;
  border-radius: .75rem .75rem;
  border-color: var(--accent);
}
.form__container-border {
  border-style: solid solid solid solid;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.form__screenshot {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__stretch {
  height: 100%;
}
.form__group {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 6 0;
  margin-top: 8%;
}
.form__group-center {
  /*justify-content: center;*/
  /*height: 75%*/
}
.form__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}
.form__row-buttons {
  margin-bottom: 2rem;
  flex: 1 0;
}
.form__row-instructions {
  margin: 0 0;
  flex: 1.5 0;

}
.form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: .25rem 0;
}
.form__item-interest {
  flex-direction: column;
  align-items: center;
}
.form__item-addCTA {
  width: auto;
}
.item__label {
  color: var(--font-light);
  margin: 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  width: 75%;
  flex: 1;
}
.item__label-interest {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}
.item__label-select {
  flex: 0;
}
.item__name {
  color: var(--font-light);
  font-size: 1.7rem;
  font-weight: bold;
  flex: 1;
  text-align: left;
}
.item__removeCTA {
  margin: 0 0;
  padding: 0 0;
  background: none;
  border-width: 0 0 1px 0;
  border-color: var(--notice-red);
  border-style: solid;
  color: var(--notice-red);
  font-size: 1.25rem;
}
.item__addCTA {
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: var(--bg-button);
  padding: .5rem .75rem;
  box-shadow: .25rem .25rem 1rem var(--font-dark);
  transition: background-color 750ms;
}
.invisible {
  display: none;
}
.item__addCTA:hover {
  color: var(--accent);
  background-color: var(--bg-button-hover);
}

.form__control {
  flex: 2.75;
  font-size: 1.15rem;
  display: block;
  width: 75%;
  border-radius: 0.33rem;
  padding: 0.475rem 0.75rem;
  font-weight: 400;
  line-height: 1.75;
  background-clip: padding-box;
  border: none;
  box-shadow: inset .1rem .1rem .25rem var(--bg-input-shadow);
}
.form__control-select {
  flex: 0;
}
.form__control:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--bg-input-outline);
}
.form__control-input_screenshot {
  flex: 1;
  width: 100%;
  margin-bottom: 25px;
}
.form__control-input {
  color: var(--font-dark);
  background-color: var(--bg-input-background);
  background-clip: padding-box;
  transition: border-color 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
}
.form__control-input::placeholder {
  color: var(--font-placeholder);
}
select {
  background-color: var(--bg-input-background);

}
select > option {
  background-color: var(--bg-input-options);
  font-family: "Baloo Thambi 2", serif;
}
.form__control-select:hover {
  cursor:pointer;
}
.form__control-invalid {
  border: 2px solid var(--warning-red);
}
.form__control-invalid:focus {
  border: none;
}
.form__message-error {
  width: 15%;
  text-align: right;
  color: var(--warning-red);
}
.instructions {
  padding-top: 1rem;
  color: var(--font-light);
  width: 90%;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.8rem;
}

.instruction__line {
  line-height: 2rem;
}

.form__scroll {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}