.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 96%;
  height: 100%;
  margin-left: 2%;
}
.form__screenshot {
  display: flex;
  align-items: center;
  width: 75%;
}
.form__stretch {
  height: 100%;
}
.form__group {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4%;
}


