.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  color: var(--font-light);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.85));
}
.header__text {
  width: 90%;
  margin: 1vh 0;
  font-size: 1.6rem;
  text-align: center;
  color: var(--accent);
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.85));
}
.header__icons {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  font-size: 3rem !important;
  display: flex;
  color: var(--font-light);
  overflow: hidden;
  line-height: 1;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.85));
}
.header__icon-active {
  color: var(--accent);
  /*border-bottom: 1px solid var(--accent);*/
  font-size: 3.75rem !important;
  box-sizing: content-box;
  padding-bottom: .5rem;
}