.p-button {
    width: 100%;
    color: var(--bg-button-border);
    background-color: var(--bg-button);
    border: 1px solid var(--bg-button-border);
    text-align: center;
    font-weight: 100;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: .20rem .25rem .5rem var(--darkgray-fade-75);
    transition: background-color 750ms;
}
.p-button:hover {
    cursor: pointer;
    background-color: var(--bg-button-hover);
    color: var(--accent)
}
.p-button__game {
    font-size: 1.75rem;
    padding: 1rem;
    border-radius: 5px;
    line-height: 1.5rem;

}
.p-button__start {
    justify-self: center;
    font-size: 2.5rem;
    border-radius: 50%;
    height: 200px;
    width: 200px;

}
.p-button__restart {
    border-radius: 50%;
    font-size: 2rem;
    height: 100px;
    width: 100px;
}

.p-button__screenshot {
    border-radius: 50%;
    font-size: 1.5rem;
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}

.p-button__send {
    border-radius: 50%;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    margin-bottom: 25px;
}

.p-button__add {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: .5rem .75rem;
}