.p-buttons__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.p-button__col {
  display: flex;
  flex: 0.33 1;
  flex-direction: column;
  justify-content: stretch;
}
.p-button {
  width: 100%;
  color: var(--bg-button-border);
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button-border);
  text-align: center;
  font-weight: 100;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: .20rem .25rem .5rem var(--darkgray-fade-75);
  transition: background-color 750ms;
}
.p-button:hover {
  cursor: pointer;
  background-color: var(--bg-button-hover);
  color: var(--accent)
}
.p-button__game {
  font-size: 1.75rem;
  padding: 1rem;
  border-radius: 5px;
  line-height: 1.5rem;

}
.p-button__start {
  justify-self: center;
  font-size: 1.15vw;
  border-radius: 50%;
  height: 115px;
  width: 115px;
  /*transition: background-color 750ms;*/
}
.p-button__add {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem .75rem;
  /*box-shadow: .25rem .25rem 1rem var(--font-dark);*/
  /*transition: background-color 750ms;*/
}